name: Build and deploy container app to Azure Web App - Trippio

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  IMAGE_NAME: trippioimage
  DOCKERFILE: ./TripioBE/Trippio-main/src/Trippio.Api/Dockerfile
  BUILD_CONTEXT: ./TripioBE/Trippio-main/src

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4


      - name: Debug repo tree
        run: |
          pwd
          ls -la
          ls -la TripioBE || true
          ls -la TripioBE/Trippio-main || true
          ls -la TripioBE/Trippio-main/src/Trippio.Api || true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.BUILD_CONTEXT }}
          file: ${{ env.DOCKERFILE }}
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8CE9DC82DE774333A8C13628834CBB8A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A4620C91ECF64D41B1376058D70A56F2 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D044361ED33A4A4F94474777DA6B10CF }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'trippiowebapp'
          slot-name: 'Production'
          images: '${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}'







