name: Build and deploy container app to Azure Web App - Trippio

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  IMAGE_NAME: trippioimage
  DOCKERFILE: ./TripioBE/Trippio-main/src/Trippio.Api/Dockerfile
  BUILD_CONTEXT: .

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4


      - name: Debug repo tree
        run: |
          pwd
          ls -la
          ls -la TripioBE || true
          ls -la TripioBE/Trippio-main || true
          ls -la TripioBE/Trippio-main/src/Trippio.Api || true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.BUILD_CONTEXT }}
          file: ${{ env.DOCKERFILE }}
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_CB06C8C410CD45DDA0F050727872E43C }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E0C52D70895A4A32B4E54CA424EA0646 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_BD01B248CECA4C54A84C79C2EE242F25 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'Trippio'
          slot-name: 'Production'
          images: '${{ secrets.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}'


